# nodejs modules
node_modules/

# environment configs
.env

# sql command for recovery
dump.sql

# server sercurity config
src/api/config

dbconfig.js
ftpconfig.js

init.sql
src/init.sql

src/songs/*
!src/songs/meta-data

src/temp/chunks/*
!src/temp/chunks/meta-data
